@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Fonts */
  --font-primary: 'Rubik', sans-serif;
  --font-secondary: 'Poppins', sans-serif;

  /* Font sizes */
  --font-xxs: 8px;
  --font-xs: 12px;
  --font-tiny: 14px;
  --font-sm: 16px;
  --font-m: 18px;
  --font-base: 20px;
  --font-lg: 24px;
  --font-xl: 28px;
  --font-2xl: 32px;
  --font-3xl: 36px;
  --font-4xl: 40px;
  --font-massive: 52px;

  /* Colours */
  --c-white: #FFF;
  --c-offwhite: #F7F7F7;
  --c-black: #000;
  --c-grey: #676767;
  --c-blue: #001588;
  --c-greeny: #28D4C3;

  /* Spacings */
  --spacer-xxs: 4px;
  --spacer-xs: 8px;
  --spacer-sm: 16px;
  --spacer-base: 24px;
  --spacer-lg: 32px;
  --spacer-xl: 48px;
  --spacer-2xl: 64px;
  --spacer-3xl: 80px
}